numpy==1.22.2
scipy
scikit-learn 
scikit-image 
opencv-python 
pillow==10.3.0
tqdm 
gpustat 
psutil 
pandas 
GPUtil  
pylg
tensorflow==1.14.0 
keras==2.13.1rc0 
mxnet==1.5.0
gluoncv==0.5
tabulate
netron
networkx
matplotlib
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
